* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.main
{
  width: 100%;
  height: 100vh;
  background-color: #f2d390;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header
{
  width: 80%;
  height: 60px;
  position: relative;
  border-bottom: 0.5px solid black;
}
.header p
{
  color: black;
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
  font-family: "Raleway";
}

.profile
{
  width: 63%;
  height: 200px;
  display: flex;
}
.profile .img
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 20px;
  background-image: url("D:\studies\Rnw Class\React\Follow System Project\src\assets\Images\Profile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid black;
}
.profile .info
{
  width: 200px;
  height: 150px;
  margin-left: 20px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile .info .username
{
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: bold;
}
.profile .info .bio
{
  font-size: 16px;
  font-family: "Montserrat";
  margin-top: 5px;
}


.profile .info2
{
  width: 440px;
  height: 150px;
  margin-left: 20px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile .info2 .details
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.profile .info2 .details .text1
{
  width: 100px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}
.profile .info2 .details .text2
{
  font-size: 24px;
  font-family: "Montserrat";
  text-align: center;
}
.profile .info2 .follow
{
  display: flex;
  justify-content: center;
}
.profile .info2 .follow button
{
  width: 100px;
  height: 30px;
  margin-top: 10px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
}
.profile .info2 .follow button:hover
{
  background-color: black;
  color: white;
  transition: 0.2s;
}


.photos
{
  width: 80%;
  height: 400px;
  border-top: 0.5px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.photos .post1 {
  width: 30%;
  height: 350px;
  background-image: url("D:\\studies\\Rnw Class\\React\\Follow System Project\\src\\assets\\Images\\Post1.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 
    background-size 0.4s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.photos .post1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.photos .post1:hover {
  background-size: 110%;
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.photos .post1:hover::before {
  opacity: 1;
}

.photos .post2 {
  width: 30%;
  height: 350px;
  background-image: url("D:\\studies\\Rnw Class\\React\\Follow System Project\\src\\assets\\Images\\Post2.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 
    background-size 0.4s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.photos .post2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.photos .post2:hover {
  background-size: 110%;
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.photos .post2:hover::before {
  opacity: 1;
}

.photos .post3 {
  width: 30%;
  height: 350px;
  background-image: url("D:\\studies\\Rnw Class\\React\\Follow System Project\\src\\assets\\Images\\Post3.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 
    background-size 0.4s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.photos .post3::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.photos .post3:hover {
  background-size: 110%;
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.photos .post3:hover::before {
  opacity: 1;
}



@font-face {
  font-family: "Raleway";
  src: url("D:\studies\Rnw Class\React\Follow System Project\src\assets\Fonts\Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat"; ;
  src: url("D:\studies\Rnw Class\React\Follow System Project\src\assets\Fonts\Montserrat-Regular.ttf") format("truetype");
}