* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  width: 36px;
  height: 36px;
  padding: 6px;
  border-radius: 30px;
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  transition: all 0.4s ease;
}

.darkbutton {
  background-color: white;
  color: black;
}

.lightbutton {
  background-color: black;
  color: white;
}
