*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main
{
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border {
  width: 50%;
  border-bottom: 1px solid white;
  transform: scaleY(0.3);
  transform-origin: center;
}

